@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Quicksand&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    background-color: #ebd1e9;
    margin: 0;
    padding: 0;
    color: #3f3d56;
    max-width: 100vw;
}
